{% extends "layout.html" %}

{% block content %}
<head>
    <script type=text/javascript>
    $(function () {
        $("#submitBtn").click(function () {
            $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + "/echo/",
                contentType: "application/json; charset=utf-8",
                data: { echoValue: $('input[name="echoText"]').val() },
                success: function (data) {
                    $('#echoResult').text(data.value);
                }
            });
        });
    });
    </script>
</head>
	<div class="wrapping">	
		<div class="admins">
			<div style="width:500px;" class="container">
			<h2 style="text-align:center;margin-bottom:20px;font-size:20px;">BIODATA DOSEN</h2>
                <div class="row">
                    <form action="/biodata-dosen-update" method="post">
                        <div class="column">
                            <input id="dsnId" name="dsnId" type="hidden" value="{{profile.id}}">
                            <div class="form-group">
                                <label for="nip">NIP/NIK:</label>
                                <input type="text" class="form-control" id="nip" placeholder="NIP/NIK" name="NIP" value="{{ profile.NIP }}">
                            </div>
                            <div class="form-group">
                                <label>Nama Dosen:</label>
                                <input type="text" class="form-control" placeholder="Nama Dosen" name="nama" value="{{ profile.nama }}">
                            </div>
                            <div class="form-check">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sex" id="mhsRadio" value="L" {{Pria}}>
                                        Pria
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="sex" id="dsnRadio" value="P" {{Wanita}}>
                                        Wanita
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <input type="text" class="form-control" placeholder="Email" name="email" value="{{ profile.email }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button class="btn btn-default">Cancel</button>
                        </div>

                        <div class="column">
                            <div class="form-group">
                                <div class="row">
                                    <div class="column">
                                        <label>Keahlian?</label><br />
                                        {% for entry in keahlians %}
                                                <input type="checkbox" name="keahlian" value="{{ entry.id }}"  {{ entry._ui_checked }}  /> {{ entry.keahlian }}  <br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
		    </div>
		</div>
	</div>
 </div>
{% endblock %}

<script>
$( document ).ready(function() {
    $('#birthday').datepicker({
    });
});
</script>
