{% extends "layout.html" %}
{% block content %}
    <h4>Silahkan Login Terlebih Dahulu</h4>
    <form action="/actionLogin" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter NRP/NIP">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <div class="form-check">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="asRadio" id="mhsRadio" value="mahasiswa" checked>
                Login Sebagai Mahasiswa
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="asRadio" id="dsnRadio" value="dosen">
                Login Sebagai Dosen
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input class="form-check-input" type="radio" name="asRadio" id="tuRadio" value="TU" >
                Login Sebagai TU
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}