{% extends "layout.html" %}

{% block content %}


	<div class="wrapping">	
		<div class="admins">
			<div style="width:500px;" class="container">
			<h2 style="text-align:center;margin-bottom:20px;font-size:20px;">LIST TUGAS AKHIR</h2>
			<div class="dashboard">
					<table class="schedule schedule_dashboard">
						<tr>
							<th>Edit</th>
							<th>NIP</th>
							<th>Nama Dosen</th>
							<th>Jenis Kelamin</th>
							<th>No Hp</th>
							<th>Email</th>
							<th>Delete</th>
						</tr>
						<tr>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
						<tr>
							<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><i class="fa fa-trash" aria-hidden="true"></i></td>
						</tr>
					</table>
					<br />
					<a class="btn btn-default" href="/admin">Batal</a>
				</div>
		</div>
		</div>
	</div>
{% endblock %}
<script>
$( document ).ready(function() {
    $('#birthday').datepicker({
    });
});
</script>
