{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2>Table</h2>
    <p>Daftar Tugas Akhir Mahasiswa</p>
    <div class="table-responsive">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>NRP</th>
                    <th>Nama Mahasiswa</th>
                    <th>Semester</th>
                    <th>Angkatan</th>
                    <th>Judul</th>
                    <th>Dosen Pembimbing</th>
                    <th>NIP</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in daftarTA %}
                  <tr>
                    <td>{{entry.id_mahasiswa}}</td>
                    <td>{{entry.nama_mahasiswa}}</td>
                    <td>{{entry.semester}}</td>
                    <td>{{entry.angkatan}}</td>
                    <td><b>{{entry.judul}}</b></td>
                    <td>{{entry.namaDosen}}</td>
                    <td>{{entry.nipDosen}}</td>
                    <td>{{entry.statusTA}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
<script>
$( document ).ready(function() {
    $('#birthday').datepicker({
    });
});
</script>
